<div
  class="mt-2 md:mt-4 space-y-4 bg-primary-300/20 my-4 md:my-8 py-4 md:py-8 rounded-lg"
>
  <h1
    class="text-center text-2xl md:text-3xl font-bold text-secondary-500 text-shadow-lg"
  >
    Pongase en contacto con nosotros
  </h1>
  <p class="text-center text-shadow-2xs text-black/70 px-4 md:px-8">
    Pongase en contacto con nosotros para obtener más información sobre nuestros
    servicios médicos y para realizar un turno en línea.
  </p>

  <div class="grid grid-cols-4 md:grid-cols-12 gap-4">
    <!-- Datos de contacto -->
    <article class="col-span-4 md:col-span-6 space-y-4 md:ml-2">
      <h2 class="text-xl font-bold px-4 text-shadow-xl/30">
        Información de contacto
      </h2>
      @for (item of contactInformation; track item.title) {
      <div class="card w-full bg-white drop-shadow-xl/30">
        <div class="card-body grid grid-cols-4 md:grid-cols-6">
          <div
            class="h-12 w-12 rounded-full bg-primary-300/50 p-2 items-center flex justify-center"
          >
            <span class="text-2xl text-primary {{ item.icon }}"></span>
          </div>
          <div class="col-span-3 col-start-2">
            <h2 class="card-title">{{ item.title }}</h2>
            <p class="card-text text-black/80 text-shadow-2xs text-xs">
              {{ item.description }}
            </p>
            <ul class="text-black/80 text-shadow-2xs text-xs">
              <li>{{ item.list1 }}</li>
              <li>{{ item.list2 }}</li>
              <li>{{ item.list3 }}</li>
            </ul>
          </div>
        </div>
      </div>
      }
    </article>

    <!-- Formulario  -->
    <form
      [formGroup]="myForm"
      (ngSubmit)="onSubmit()"
      class="col-span-4 md:col-span-6 md:col-start-7 md:mr-2"
    >
      <fieldset class="fieldset bg-white rounded-box p-4 drop-shadow-xl/30">
        <h2 class="text-xl font-bold text-shadow-xl/30">Envienos un mensaje</h2>
        <div class="flex flex-row space-x-2 mt-4">
          <!-- First Name -->
          <div>
            <label class="label font-bold">Nombre</label>
            <input
              id="firstname"
              type="text"
              class="input"
              placeholder="Juan"
              formControlName="firstname"
              [class.outline-accent-500!]="
                myForm.get('firstname')?.errors ?? false
              "
            />
            <app-form-error-label [control]="myForm.get('firstname')!" />
          </div>
          <!-- Last Name -->
          <div>
            <div class="flex flex-col">
              <label class="label font-bold">Apellido</label>
              <input
                type="text"
                class="input"
                placeholder="Perez"
                formControlName="lastname"
                [class.outline-accent-500!]="
                  myForm.get('lastname')?.errors ?? false
                "
              />
            </div>
            <app-form-error-label [control]="myForm.get('lastname')!" />
          </div>

          <!-- Email -->
        </div>
        <label class="label font-bold mt-4">Correo electrónico</label>
        <input
          type="email"
          class="input w-full"
          placeholder="juan@correo.com"
          formControlName="email"
          [class.outline-accent-500!]="myForm.get('email')?.errors ?? false"
        />
        <app-form-error-label [control]="myForm.get('email')!" />

        <!-- Phone -->
        <label class="label font-bold mt-4">Teléfono</label>
        <input
          type="tel"
          class="input w-full"
          placeholder="xxx-xxx-xxxx"
          formControlName="phone"
          [class.outline-accent-500!]="myForm.get('phone')?.errors ?? false"
        />
        <app-form-error-label [control]="myForm.get('phone')!" />

        <!-- Motive -->
        <label class="label font-bold mt-4">Motivo</label>
        <input
          type="text"
          class="input w-full"
          placeholder=""
          formControlName="motive"
          [class.outline-accent-500!]="myForm.get('motive')?.errors ?? false"
        />
        <app-form-error-label [control]="myForm.get('motive')!" />

        <!-- Message -->
        <label class="label font-bold mt-4">Mensaje</label>
        <textarea
          class="textarea w-full"
          placeholder=""
          formControlName="message"
          [class.outline-accent-500!]="myForm.get('message')?.errors ?? false"
        ></textarea>
        <app-form-error-label [control]="myForm.get('message')!" />

        <button class="btn btn-primary mt-4">Enviar Mensaje</button>
      </fieldset>
    </form>
  </div>
</div>
