<main
  class="h-full grid grid-cols-4 md:grid-cols-12 gap-4 px-4 md:px-56 md:gap-8 mt-4 md:mt-8"
>
  <!-- Logo and title-->
  <section id="home" class="col-span-4 md:col-span-6 md:px-4">
    <div class="grid grid-cols-4 items-center">
      <div class="md:hidden col-span-2 col-start-1">
        <img
          src="logo_color.png"
          alt="logo"
          class="object-cover bg-primary-300/20"
        />
      </div>
      <div class="col-span-2 col-start-3 md:col-span-6">
        <h1
          class="text-3xl md:text-5xl font-montserrat-bold font-bold text-center text-shadow-lg text-black/60 text-shadow-2xs"
        >
          Su Salud es Nuestra <span class="text-secondary-300">Prioridad</span>
        </h1>
      </div>
    </div>
    <p class="col-span-4 text-black/80 text-shadow-2xs mt-2">
      Brindamos atención médica excepcional, instalaciones de última generación
      y profesionales de la salud experimentados dedicados a su bienestar.
    </p>

    <!-- Buttons -->
    <div class="grid grid-cols-4 md:grid-cols-6 space-y-2 mt-4 md:mt-8">
      <button
        class="btn btn-primary col-span-2 col-start-2 md:col-start-2 md:col-span-4"
      >
        Turnos
      </button>
      <button
        class="btn btn-secondary col-span-2 row-start-2 col-start-2 md:col-start-2 md:col-span-4"
      >
        Estudios
      </button>
    </div>
    <!-- Services -->
    <article
      class="col-span-4 md:col-span-6 flex flex-row gap-4 mt-4 md:mt-16 justify-between mx-4 md:mx-16"
    >
      @for (item of services; track item.title) {
      <div class="flex flex-col items-center drop-shadow-2xl/30">
        <div
          class="h-12 w-12 rounded-full bg-primary-300/50 p-2 items-center flex justify-center"
        >
          <span class="{{ item.icon }} text-4xl text-primary"></span>
        </div>
        <p class="text-xs text-center">{{ item.title }}</p>
        <p class="text-xs text-black/70 text-center">{{ item.description }}</p>
      </div>

      }
    </article>
  </section>

  <!-- Image -->
  <section class="col-span-4 md:col-span-6 md:col-start-7 flex flex-col">
    <div>
      <img
        class="w-full flexgrayscale-50 brightness-75"
        src="medicos.png"
        alt="Doctors"
      />
    </div>
  </section>

  <!-- Medical Services-->
  <section
    id="medical-services"
    class="col-span-4 md:col-span-12 mt-4 md:mt-8 space-y-4"
  >
    <h1
      class="text-center text-2xl md:text-3xl font-bold text-secondary-500 text-shadow-lg"
    >
      Nuestros servicios médicos
    </h1>
    <p class="text-center text-shadow-2xs text-black/70 px-4 md:px-8">
      Brindamos atención médica integral , utilizando tecnología de última
      generación y un equipo de profesionales con amplia experiencia.
    </p>

    <article class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 md:mt-8">
      @for (item of medicalServices; track item.title) {

      <div class="card w-full bg-primary-100 drop-shadow-xl/30">
        <div class="card-body place-items-center">
          <div
            class="h-12 w-12 rounded-full bg-primary-300/50 p-2 items-center flex justify-center"
          >
            <span class="text-2xl text-primary {{ item.icon }}"></span>
          </div>
          <h2 class="card-title text-center">{{ item.title }}</h2>
          <p class="card-text text-center text-black/80">
            {{ item.description }}
          </p>
          <ul class="list-disc list-inside text-black">
            <li class="text-center">{{ item.list1 }}</li>
            <li class="text-center">{{ item.list2 }}</li>
            <li class="text-center">{{ item.list3 }}</li>
          </ul>
        </div>
      </div>

      }
    </article>
  </section>

  <!-- Doctors -->
  <section
    id="doctors"
    class="col-span-4 md:col-span-12 mt-4 md:mt-8 space-y-4"
  >
    <h1
      class="text-center text-2xl md:text-3xl font-bold text-secondary-500 text-shadow-lg"
    >
      Conozca a nuestros médicos expertos
    </h1>
    <p class="text-center text-shadow-2xs text-black/70 px-4 md:px-8">
      Nuestros equipos de profesionales médicos experimentados se dedican a
      brindarle atención médica de la más alta calidad.
    </p>

    <article class="grid grid-cols-1 md:grid-cols-3 gap-4 mt-4 md:mt-8">
      @for (item of doctors; track item.name) {

      <div class="card bg-primary-100 rounded-2xl drop-shadow-xl/30">
        <div class="card-body p-0">
          <img
            class="w-full h-64 md:h-96 object-cover mb-2 rounded-tl-2xl rounded-tr-2xl"
            src="{{ item.image }}"
            alt="{{ item.name }}"
          />
          <h2 class="text-lg card-title font-bold pl-4 md:pl-8">
            {{ item.name }}
          </h2>
          <p
            class="text-sm card-text text-primary-500 pl-4 md:pl-8 text-primary font-bold"
          >
            {{ item.specialty }}
          </p>
          <p class="text-black/70 pl-4 md:pl-8 text-xs">
            {{ item.experience }}
          </p>
          <h2 class="pl-4 md:pl-8 font-bold text-xs">Especialidades</h2>
          <ul
            class="list-disc list-inside text-black/80 mb-4 pl-4 md:pl-8 text-xs"
          >
            <li class="">{{ item.list1 }}</li>
            <li class="">{{ item.list2 }}</li>
            <li class="">{{ item.list3 }}</li>
          </ul>
        </div>
        <button
          class="btn btn-primary mx-4 md:mx-8 mb-4 md:mb-8"
        >
          Turnos
        </button>
      </div>
      }
    </article>
  </section>

  <!-- Información de contacto -->

  <section
    id="contact"
    class="col-span-4 md:col-span-12 mt-2 md:mt-4 space-y-4 bg-primary-300/20 my-4 md:my-8 py-4 md:py-8 rounded-lg"
  >
    <h1
      class="text-center text-2xl md:text-3xl font-bold text-secondary-500 text-shadow-lg"
    >
      Pongase en contacto con nosotros
    </h1>
    <p class="text-center text-shadow-2xs text-black/70 px-4 md:px-8">
      Pongase en contacto con nosotros para obtener más información sobre
      nuestros servicios médicos y para realizar un turno en línea.
    </p>

    <div class="grid grid-cols-4 gap-4">
      <article class="col-span-4 md:col-span-2 space-y-4 md:ml-2">
        <h2 class="text-xl font-bold px-4 text-shadow-xl/30">
          Información de contacto
        </h2>
        @for (item of contactInformation; track item.title) {
        <div class="card w-full bg-white drop-shadow-xl/30">
          <div class="card-body grid grid-cols-4 md:grid-cols-6">
            <div
              class="h-12 w-12 rounded-full bg-primary-300/50 p-2 items-center flex justify-center"
            >
              <span class="text-2xl text-primary {{ item.icon }}"></span>
            </div>
            <div class="col-span-3 col-start-2">
              <h2 class="card-title">{{ item.title }}</h2>
              <p class="card-text text-black/80 text-shadow-2xs text-xs">
                {{ item.description }}
              </p>
              <ul class="text-black/80 text-shadow-2xs text-xs">
                <li>{{ item.list1 }}</li>
                <li>{{ item.list2 }}</li>
                <li>{{ item.list3 }}</li>
              </ul>
            </div>
          </div>
        </div>
        }
      </article>

      <article class="col-span-4 md:col-span-2 md:col-start-3 md:mr-2">
        <fieldset
          class="fieldset bg-white rounded-box w-full p-4 drop-shadow-xl/30"
        >
          <h2 class="text-xl font-bold text-shadow-xl/30">
            Envienos un mensaje
          </h2>
          <div class="flex flex-row space-x-4 mt-4">
            <label class="label font-bold">Nombre</label>
            <input
              type="text"
              class="input bg-white border-primary-200"
              placeholder="Juan"
            />
            <label class="label font-bold">Apellido</label>
            <input
              type="text"
              class="input bg-white border-primary-200"
              placeholder="Perez"
            />
          </div>

          <label class="label font-bold mt-4">Correo electrónico</label>
          <input
            type="email"
            class="input bg-white border-primary-200 w-full"
            placeholder="juan@correo.com"
          />

          <label class="label font-bold mt-4">Teléfono</label>
          <input
            type="tel"
            class="input bg-white border-primary-200 w-full"
            placeholder="Teléfono"
          />

          <label class="label font-bold mt-4">Motivo</label>
          <input
            type="text"
            class="input bg-white border-primary-200 w-full"
            placeholder=""
          />

          <label class="label font-bold mt-4">Mensaje</label>
          <textarea
            class="textarea bg-white border-primary-200 w-full"
            placeholder=""
          ></textarea>

          <button class="btn btn-primary mt-4">
            Enviar Mensaje
          </button>
        </fieldset>
      </article>
    </div>
  </section>
</main>
