<main
  class="h-full grid grid-cols-4 md:grid-cols-12 gap-4 px-4 md:px-56 md:gap-8 mt-4 md:mt-8"
>
  <!-- Logo and title-->
  <section id="home" class="col-span-4 md:col-span-6 md:px-4">
    <div class="grid grid-cols-4 items-center">
      <div class="md:hidden col-span-2 col-start-1">
        <img
          src="logo_color.png"
          alt="logo"
          class="object-cover bg-primary-300/20"
        />
      </div>
      <div class="col-span-2 col-start-3 md:col-span-6">
        <h1
          class="text-3xl md:text-5xl font-montserrat-bold font-bold text-center text-shadow-lg text-black/60 text-shadow-2xs"
        >
          Su Salud es Nuestra <span class="text-secondary-300">Prioridad</span>
        </h1>
      </div>
    </div>
    <p class="col-span-4 text-black/80 text-shadow-2xs mt-2">
      Brindamos atención médica excepcional, instalaciones de última generación
      y profesionales de la salud experimentados dedicados a su bienestar.
    </p>

    <!-- Buttons -->
    <div class="grid grid-cols-4 md:grid-cols-6 space-y-2 mt-4 md:mt-8">
      <button
        class="btn btn-primary col-span-2 col-start-2 md:col-start-2 md:col-span-4"
      >
        Turnos
      </button>
      <button
        class="btn btn-secondary col-span-2 row-start-2 col-start-2 md:col-start-2 md:col-span-4"
      >
        Estudios
      </button>
    </div>
    <!-- Services -->
    <article
      class="col-span-4 md:col-span-6 flex flex-row gap-4 mt-4 md:mt-16 justify-between mx-4 md:mx-16"
    >
      @for (item of services; track item.title) {
      <div class="flex flex-col items-center drop-shadow-2xl/30">
        <div
          class="h-12 w-12 rounded-full bg-primary-300/50 p-2 items-center flex justify-center"
        >
          <span class="{{ item.icon }} text-4xl text-primary"></span>
        </div>
        <p class="text-xs text-center">{{ item.title }}</p>
        <p class="text-xs text-black/70 text-center">{{ item.description }}</p>
      </div>

      }
    </article>
  </section>

  <!-- Image -->
  <section class="col-span-4 md:col-span-6 md:col-start-7 flex flex-col">
    <div>
      <img
        class="w-full flexgrayscale-50 brightness-75"
        src="medicos.png"
        alt="Doctors"
      />
    </div>
  </section>

  <!-- Medical Services-->
  <section
    id="medical-services"
    class="col-span-4 md:col-span-12 mt-4 md:mt-8 space-y-4"
  >
    <app-medical-services />
  </section>

  <!-- Doctors -->
  <section
    id="doctors"
    class="col-span-4 md:col-span-12 mt-4 md:mt-8 space-y-4"
  >
    <app-doctors />
  </section>

  <!-- Información de contacto -->
  <section
    id="contact"
    class="col-span-4 md:col-span-12 mt-4 md:mt-8 space-y-4"
  >
    <app-contact-form />
  </section>
</main>
