<div
  class="navbar bg-one-300/20 shadow-sm justify-between px-4 md:px-44 font-montserrat"
>
  <div class="flex flex-row items-center">
    <button class="btn bg-one-700 border-none text-white md:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
    <img
      src="/logo_color_header.png"
      alt="logo_color_header"
      class="hidden md:flex h-12 w-auto"
    />
    <ul
      class="menu hidden md:flex md:menu-horizontal rounded-box space-x-2 mx-4"
    >
      @for (item of menuItems; track item.title) {

      <li>
        <a
          class="hover:bg-one-700 hover:text-white hover:border-none rounded-md p-4 transition-all font-bold text-base"
          >{{ item.title }}</a
        >
      </li>

      }
    </ul>
  </div>
  <div class="flex-none space-x-4">
    <!-- <button class="btn bg-one/20 border-none text-black/60 font-montserrat">
      Servicios
    </button> -->
    <button class="btn bg-one-700 border-none text-white font-montserrat">
      Turnos
    </button>
  </div>
</div>
