<div
  class="navbar bg-one-300/20 shadow-sm justify-between px-4 md:px-44 font-montserrat"
>
  <div class="flex-none">
    <button class="btn bg-one-700 border-none text-white md:hidden">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        class="inline-block h-5 w-5 stroke-current"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M4 6h16M4 12h16M4 18h16"
        ></path>
      </svg>
    </button>
  </div>
  <div class="flex-none space-x-4">
    <!-- <button class="btn bg-one/20 border-none text-black/60 font-montserrat">
      Servicios
    </button> -->
    <button class="btn bg-one-700 border-none text-white font-montserrat">
      Turnos
    </button>
  </div>
</div>
