/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "tailwindcss";

@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  logs: true;
}
@plugin "@iconify/tailwind4";

@font-face {
  font-family: Monserrat;
  src: url("/fonts/montserrat-alternates/MontserratAlternates-Medium.ttf")
    format("truetype");
}
@font-face {
  font-family: Monserrat-Bold;
  src: url("/fonts/montserrat-alternates/MontserratAlternates-Bold.ttf")
    format("truetype");
}

@theme {
  /* --color-primary: #28516c; 700 */

  --color-primary-50: oklch(96.42% 0.013 251.55);
  --color-primary-100: oklch(93.03% 0.026 248.1);
  --color-primary-200: oklch(85.15% 0.059 245.39);
  --color-primary-300: oklch(78.07% 0.092 242.48);
  --color-primary-400: oklch(70.25% 0.109 239.68);
  --color-primary-500: oklch(63.41% 0.098 239.99);
  --color-primary-600: oklch(56.61% 0.087 239.31);
  --color-primary-700: oklch(48.96% 0.075 238.88);
  --color-primary-800: oklch(41.772% 0.0646 239.698);
  --color-primary-900: oklch(27.39% 0.042 239.95);
  --color-primary-950: oklch(20.47% 0.032 239.07);

  /* --color-secondary: #9e8d37; */

  --color-secondary-50: oklch(95.69% 0.057 94.25);
  --color-secondary-100: oklch(91.09% 0.138 97.32);
  --color-secondary-200: oklch(81.81% 0.137 98.12);
  --color-secondary-300: oklch(72.97% 0.122 98.05);
  --color-secondary-400: oklch(64.17% 0.107 98.07);
  --color-secondary-500: oklch(55.83% 0.093 97.47);
  --color-secondary-600: oklch(47.39% 0.079 97.73);
  --color-secondary-700: oklch(38.57% 0.064 97.96);
  --color-secondary-800: oklch(30.86% 0.051 97.63);
  --color-secondary-900: oklch(22.21% 0.037 96.93);
  --color-secondary-950: oklch(17.67% 0.029 99.03);

  /* --color-accent: #a43741; */

  --color-accent-50: oklch(96.62% 0.011 10.51);
  --color-accent-100: oklch(92.48% 0.024 14.52);
  --color-accent-200: oklch(85.85% 0.049 13.46);
  --color-accent-300: oklch(78.48% 0.081 15.21);
  --color-accent-400: oklch(71.3% 0.12 16.6);
  --color-accent-500: oklch(64.87% 0.16 18);
  --color-accent-600: oklch(57.13% 0.165 18.78);
  --color-accent-700: oklch(49.69% 0.143 18.8);
  --color-accent-800: oklch(37.54% 0.107 18.67);
  --color-accent-900: oklch(26% 0.074 19.18);
  --color-accent-950: oklch(20.56% 0.059 19.21);

  --font-roboto: "Roboto", sans-serif;
  --font-montserrat: "Monserrat", sans-serif;
  --font-montserrat-bold: "Monserrat-Bold", sans-serif;

  --shadow-2xs: 0 1px rgb(0 0 0 / 0.05);
  --shadow-xs: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow-sm: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);

  --animate-menu-on: menu-on 0.5s ease-in;
  --animate-menu-off: menu-off 0.5s ease-out;

  @keyframes menu-on {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes menu-off {
    0% {
      visibility: visible;
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@utility modal {
  @apply bg-primary-700/10! backdrop-blur-sm justify-items-center!;
}

@utility modal-box {
  @apply w-screen;
}

@utility btn-primary {
  @apply bg-primary-800! text-white! ring-0 border-none shadow-black drop-shadow-lg;
}

@utility btn-secondary {
  @apply bg-primary-200! text-black/70! ring-0 border-none shadow-black drop-shadow-md;
}

@utility input {
  @apply border-primary-300 bg-white! outline-primary-200;
}

@utility textarea {
  @apply border-primary-300 bg-white! outline-primary-200;
}
